button {
  background-color: #333439;
;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover:not(:disabled) {
  background-color: #70757b;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input {
  width: 100%;
  background-color: #333439;
  color: white;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #70757b;
  border-radius: 4px;
  font-size: 16px;
}

.breakerTitre {
  display: block;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--ColorA) 40%,
    var(--ColorA) 60%,
    transparent 100%
  );
}

.bandeauBoutonsEditArticle {
  border-top: 2px solid var(--backgroundColorE); 
  background-color: var(--backgroundColorC);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}