.EnteteDraft {
    background-color: var(--backgroundColorB);
    border-radius: 6px;
    border: 2px solid var(--backgroundColorD);
    padding: 15px;
}

.logoFaction {
  max-height: 25px;
  margin-top: -4px;
}

.logoFactionBig {
  max-height: 40px;
  margin-left: 5px;
}

.bandeauInstructionDraft {
  position: fixed;
  width: 100%;
  height: 60px;
  padding-top: 8px;
  bottom: 2vh;
  background-color: var(--backgroundColorD);
  border-top: 3px solid var(--ColorB);
  border-bottom: 3px solid var(--ColorB);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoFactionKeyforge {
  border-radius: 6px;
}