.cardImg {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  height: 100%;
  width: 300px;   /* ajuste selon ton design */
  object-fit: cover;
}

.shadow {
  box-shadow:
    5px 5px 10px rgba(0, 0, 0, 0.5),
   -5px -5px 10px rgba(255, 255, 255, 0.03);
}

.cadreEnglobant {
  height: 200px;
}