/* Floating input : Début */
  .floatingInputDarkmode {
    background-color: var(--backgroundColorD) !important;
  }
  
  .floatingLabelDarkMode {
    background-color: transparent;
    color: var(--txtColorC);
    font-weight: bold;
  }
  
  .floatingInput > label::after {
    background-color: transparent !important;
    color: var(--txtColorC) !important;
  }
  
  /* Sélectionner l'élément input ou textarea avec un floating label */
  .floatingInput input:focus, 
  .floatingInput textarea:focus {
    border: 4px solid var(--ColorARGB);
    box-shadow: 0 0 8px 4px rgba(var(--ColorARGB-RGB), 0.5); /* Halo plus diffus */
  }
  
  /* Floating input : Fin */