code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.testNeon {
    color: #FF5E00;
    text-shadow: 0 0 5px #FF5E00, 0 0 10px #FF5E00, 0 0 20px #FF5E00;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

.bx {
  font-family: 'boxicons' !important;
}

:root {
  --font-xs: clamp(0.75rem, 2vw, 0.875rem); /* Texte très petit */
  --font-sm: clamp(0.875rem, 2.5vw, 1rem); /* Petit texte */
  --font-base: clamp(1rem, 3vw, 1.125rem); /* Taille normale */
  --font-lg: clamp(1.125rem, 3.5vw, 1.5rem); /* Grand texte */
  --font-xl: clamp(1.5rem, 4vw, 2rem); /* Très grand texte */
  --font-xxl: clamp(2rem, 5vw, 3rem); /* Titre XXL */

  --backgroundColorA: #191919;
  --backgroundColorARGB: rgba(025, 025, 025);
  --backgroundColorB: #212121;
  --backgroundColorBRGB: rgba(033, 033, 033);
  --backgroundColorC: #29292E;
  --backgroundColorCRGB: rgba(041, 041, 046);
  --backgroundColorD: #333439;
  --backgroundColorDRGB: rgba(051, 052, 057);
  --backgroundColorE: #70757b;
  --backgroundColorERGB: rgba(112, 117, 123);
  --backgroundColorF: #adb5bd;
  --backgroundColorFRGB: rgba(173, 181, 189);

  --backgroundColorSuccess: #1B722F;
  --backgroundColorSuccessRGB: rgba(27, 114, 47);

  --backgroundColorSuccessLight: #228C3A;
  --backgroundColorSuccessLightRGB: rgba(34, 140, 58);

  --backgroundColorDanger: #96242F;
  --backgroundColorDangerRGB: rgba(150, 36, 47);

  --backgroundColorDangerLight: #B92D3A;
  --backgroundColorDangerLightRGB: rgba(185, 45, 58);

  --backgroundColorCaution: #AD8305;
  --backgroundColorCautionRGB: rgba(173, 131, 5);

  --backgroundColorCautionLight: #D56A11;
  --backgroundColorCautionLightRGB: rgba(213, 106, 17);

  --backgroundColorHaloRGB: rgba(173, 131, 5, 0.5);
  
  --ColorA: #FF9901;
  --ColorARGB: rgba(255, 153, 1);

  --ColorB: #FFB300;
  --ColorARGB: rgba(255, 179, 0);

  --ColorC: #C47215;
  --ColorCRGB: rgba(196, 114, 21);

  --ColorD: #adb5bd;
  --ColorCRGD: rgba(173, 181, 189);

  --ColorE: #C47215;
  --ColorCRGE: rgba(196, 114, 21);

  --txtColorWhite: #FFFFFF;
  --txtColorWhiteRGB: rgba(255, 255, 255);

  --txtColorLight: #E9E9D8;
  --txtColorLightRGB: rgba(233, 233, 216);

  --txtColorA: #FF9901;
  --txtColorARGB: rgba(255, 153, 1);

  --txtColorB: #FFB300;
  --txtColorBRGB: rgba(255, 179, 0);

  --ColorC: #C47215;
  --ColorCRGB: rgba(196, 114, 21);

  --txtColorDark: #343a40;
  --txtColorDarkRGB: rgba(052, 058, 064);
}

.bxNormalOrange {
  color: #FF9901;
  font-size: 32px;
  transition: color 0.25s ease;  /* Transition de 0.5 seconde */
}

.bxNormalOrange:hover {
  color: #FFB300;
  font-size: 32px;
}

.bxNormalColorE {
  color: var(--backgroundColorE);
  font-size: 32px;
}


html body {
  padding: 0px;
  font-family: 'Roboto', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  background-color: var(--backgroundColorA);
  color: var(--txtColorA);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.borderColorA {
  border: 2px solid var(--ColorA);
}

.colorA {
  color: var(--ColorA);
}

.bgcolorA {
  background-color: var(--backgroundColorA);
}

.bgcolorB {
  background-color: var(--backgroundColorB);
}

.bgcolorC {
  background-color: var(--backgroundColorC);
}

.bgcolorD {
  background-color: var(--backgroundColorD);
}

.bgcolorE {
  background-color: var(--backgroundColorE);
}

.bgcolorF {
  background-color: var(--backgroundColorE);
}

 /* Textes : Début */

.txtColorWhite {
  color: var(--txtColorWhite);
}

.txtColorA {
  color: var(--ColorA);
}

.txtColorB {
  color: var(--ColorB);
}

.txtColorC {
  color: var(--ColorC);
}

.txtColorD {
  color: var(--ColorD);
}

.txtColorE {
  color: var(--ColorE);
}

.txtBold {
  font-weight: bold;
}

 /* Textes : Fin */

.txt-xs {
  font-size: var(--font-xs);
  font-weight: 400;
  line-height: 1.4;
}

.txt-sm {
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: 1.5;
}

.txt-base {
  font-size: var(--font-base);
  font-weight: 400;
  line-height: 1.6;
}

.txt-lg {
  font-size: var(--font-lg);
  font-weight: 500;
  line-height: 1.7;
}

.txt-xl {
  font-size: var(--font-xl);
  font-weight: 600;
  line-height: 1.8;
}

.txt-xxl {
  font-size: var(--font-xxl);
  font-weight: 700;
  line-height: 1.9;
}

.btn-close {
  filter: invert(1) grayscale(100%) brightness(200%); /* Change en blanc */
}

/* ongletAlerte */
.ongletAlerteBGTtopStandard {
  background-color: var(--backgroundColorB) !important;
  border-bottom: 1px solid var(--ColorA) !important;
  color: var(--txtColorB) !important;
}

.ongletAlerteBGTBottomStandard {
  background-color: var(--backgroundColorB) !important;
  color: var(--txtColorLight) !important;
}

.ongletAlerteBGTtopSuccess {
  background-color: var(--backgroundColorSuccess) !important;
  border-bottom: 1px solid var(--ColorA) !important;
  color: var(--txtColorWhite) !important;
}

.ongletAlerteBGTBottomSuccess {
  background-color: var(--backgroundColorSuccessLight) !important;
  color: var(--txtColorWhite) !important;
}

.ongletAlerteBGTtopDanger {
  background-color: var(--backgroundColorDanger) !important;
  border-bottom: 1px solid var(--ColorA) !important;
  color: var(--txtColorWhite) !important;
}

.ongletAlerteBGTBottomDanger {
  background-color: var(--backgroundColorDangerLight) !important;
  color: var(--txtColorWhite) !important;
}

.ongletAlerteBGTtopCaution {
  background-color: var(--backgroundColorCaution) !important;
  border-bottom: 1px solid var(--ColorA) !important;
  color: var(--txtColorWhite) !important;
}

.ongletAlerteBGTBottomCaution {
  background-color: var(--backgroundColorCautionLight) !important;
  color: var(--txtColorWhite) !important;
}

/* Bouton */

.btn-ColorA {
  background-color: var(--ColorA) !important;
  border: 1px solid var(--ColorA) !important;
  transition: background-color 0.25s ease;  /* Transition de 0.5 seconde */
}

.btn-ColorA:hover {
  background-color: var(--ColorB) !important;
  border: 1px solid var(--ColorB) !important;
}

.btn-ColorInactif {
  background-color: var(--backgroundColorE) !important;
  border: 1px solid var(--backgroundColorE) !important;
  transition: background-color 0.25s ease;  /* Transition de 0.5 seconde */
  cursor: pointer;
}

.btn-ColorInactif:hover {
  background-color: var(--backgroundColorE) !important;
  border: 1px solid var(--backgroundColorE) !important;
  cursor: not-allowed;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .container-global {
    background-color: grey;
    margin: auto;
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container-global {
    background-color: grey;
    margin: auto;
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-global {
    background-color: grey;
    margin: auto;
    width: 90%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .container-global {
    background-color: grey;
    margin: auto;
    width: 80%;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  .container-global {
    background-color: grey;
    margin: auto;
    width: 70%;
  }
}

/* List-group-item : début */

.list-group-item {
  background-color: var(--backgroundColorD) !important;
  border-color: var(--backgroundColorF) !important;
  color: var(--txtColorLight) !important;
}

.list-group-item:hover {
  background-color: var(--backgroundColorE) !important;
  border-color: var(--backgroundColorF) !important;
  color: var(--txtColorLight) !important;
}

.list-group-item.active {
  background-color: var(--backgroundColorF) !important;
  border-color: var(--backgroundColorF) !important;
  color: var(--txtColorWhite) !important;
}

.list-group-item.disabled {
  background-color: var(--backgroundColorA) !important;
  border-color: var(--backgroundColorF) !important;
  color: var(--txtColorDark) !important;
}

/* List-group-item : fin */

.colXXX {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 20px;
  text-align: center;
}

.red {
  background-color: red;
}

/* Icones : début */


/* Icones : fin */

/* Badges : Début */
.badge-custom {
  background-color: #6B4FA3; /* violet foncé */
  color: white;
}
/* Badges : Fin */

/* Autres */
