.responsiveImgListeX5 {
  display: block; /* évite l’espace blanc en dessous */
  max-width: 100%; /* ne dépasse jamais son conteneur */
  height: auto; /* conserve les proportions */
}

.responsiveImgFaction {
  display: block; /* évite l’espace blanc en dessous */
  width: 100%; /* ne dépasse jamais son conteneur */
  height: 100%; /* conserve les proportions */
}

.blocFaction {
    position: relative;
    filter: grayscale(0%);
    transition: filter 0.5s ease;
}

.blocFaction.grayscale {
    filter: 0.3s ease;
    filter: grayscale(100%);
}

/* Mini devices */
@media (max-width: 992px) {
    .conteneurImgX5 {
        position: relative;
        width: 45%;
        border: 2px solid white;
        border-radius: 10px;
        transition: border 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
        filter: brightness(0.75);
        cursor: pointer;
        overflow: hidden; 
    }

    .overlayText {
        position: absolute;
        bottom: 0; /* en bas */
        width: 100%;
        height: 100%;
        padding: 10px;
        font-weight: bold;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        border-radius: 0 0 10px 10px;
    }
}

/* Large devices */
@media (min-width: 993px) {
    .conteneurImgX5 {
        width: 15%;
        border: 2px solid white;
        border-radius: 10px;
        transition: border 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
        filter: brightness(0.75);
    }

    .overlayText {
        position: absolute;
        bottom: 0; /* en bas */
        width: 100%;
        padding: 10px;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0; /* invisible par défaut */
        transition: opacity 0.3s ease-in-out;
        border-radius: 0 0 10px 10px;
        text-overflow: ellipsis;
    }

    .conteneurImgX5:hover .overlayText {
        opacity: 1; /* devient visible au survol */
    }
}

.overlayText.show {
    opacity: 1; /* devient visible au survol */
}

.conteneurImgX5:has(.conteneurImgSelected) {
    filter: brightness(1);
    box-shadow: 0 0 3px 7px var(--txtColorPlayerGreen);
}

.conteneurImgX5:hover {
    border: 2px solid var(--ColorA);
    box-shadow: 0 0 10px 3px var(--ColorA);
}

.conteneurImgX5.toPick:hover {
    border: 2px solid var(--txtColorPlayerGreen);
    box-shadow: 0 0 3px 3px var(--txtColorPlayerGreen);
}

.conteneurImgX5.toBan:hover {
    border: 2px solid var(--txtColorPlayerRed);
    box-shadow: 0 0 3px 3px var(--txtColorPlayerRed);
}

.conteneurImgX5:focus {
    border: 0px;
    box-shadow: 0 0 0px 0px;
}

.factionPicked {
    border: 2px solid var(--txtColorPlayerGreen);
    box-shadow: 0 0 3px 4px var(--txtColorPlayerGreen);
}

.factionBanned {
    border: 2px solid var(--txtColorPlayerRed);
    box-shadow: 0 0 3px 4px var(--txtColorPlayerRed);
}

.conteneurImgX5.factionPicked:hover {
    border: 2px solid var(--txtColorPlayerGreen);
    box-shadow: 0 0 3px 4px var(--txtColorPlayerGreen);
}

.conteneurImgX5.factionBanned:hover {
    border: 2px solid var(--txtColorPlayerRed);
    box-shadow: 0 0 3px 4px var(--txtColorPlayerRed);
}

/* Bouton rollback */

#btnRollBack {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 2vh;
  right: 2vw;
  background-color: var(--ColorA);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
}

#btnRollBack:hover {
  background-color: var(--ColorA);
}

.bandeauTag {

}

.bandeauTag:hover {
  background-color: var(--backgroundColorCaution) !important;
}

.bandeauTagFocus {
  background-color: var(--backgroundColorHalo) !important;
}

.bandeauTagFocus:hover {
  background-color: var(--backgroundColorHalo) !important;
}