.responsiveImgListeX5 {
  display: block; /* évite l’espace blanc en dessous */
  max-width: 100%; /* ne dépasse jamais son conteneur */
  height: auto; /* conserve les proportions */
}

.conteneurImgX5 {
    width: 15%;
    border: 2px solid white;
    border-radius: 10px;
    transition: border 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.conteneurImgX5:hover {
    border: 2px solid var(--ColorA);
    box-shadow: 0 0 10px 1px var(--ColorA);
    filter: brightness(1.2);
}

.conteneurImgSelected {
    width: 15%;
    border: 2px solid var(--txtColorPlayerGreen);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px var(--txtColorPlayerGreen);
    filter: brightness(1.2);
}