.responsiveImgListeX5 {
  display: block; /* évite l’espace blanc en dessous */
  max-width: 100%; /* ne dépasse jamais son conteneur */
  height: auto; /* conserve les proportions */
}

.responsiveImgFaction {
  display: block; /* évite l’espace blanc en dessous */
  width: 100%; /* ne dépasse jamais son conteneur */
  height: 100%; /* conserve les proportions */
}

.blocFaction {
    position: relative;
}

.overlayText {
    position: absolute;
    bottom: 0; /* en bas */
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0; /* invisible par défaut */
    transition: opacity 0.3s ease-in-out;
    border-radius: 0 0 10px 10px;
}

.conteneurImgX5:hover .overlayText {
  opacity: 1; /* devient visible au survol */
}

/* Mini devices */
@media (max-width: 992px) {
    .conteneurImgX5 {
        width: 25%;
        border: 2px solid white;
        border-radius: 10px;
        transition: border 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
        filter: brightness(0.75);
    }
}

/* Large devices */
@media (min-width: 993px) {
    .conteneurImgX5 {
        width: 15%;
        border: 2px solid white;
        border-radius: 10px;
        transition: border 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
        filter: brightness(0.75);
    }
}

.conteneurImgX5:has(.conteneurImgSelected) {
    filter: brightness(1);
    box-shadow: 0 0 3px 7px var(--txtColorPlayerGreen);
}

.conteneurImgX5:hover {
    border: 2px solid var(--ColorA);
    box-shadow: 0 0 10px 1px var(--ColorA);
}

.conteneurImgX5:focus {
    border: 0px;
    box-shadow: 0 0 0px 0px;
}

.conteneurImgSelected {
    box-shadow: 0 0 3px 7px var(--txtColorPlayerGreen);
}