.responsiveImgListeX5 {
  display: block; /* évite l’espace blanc en dessous */
  max-width: 100%; /* ne dépasse jamais son conteneur */
  height: auto; /* conserve les proportions */
}

/* Mini devices */
@media (max-width: 992px) {
    .conteneurImgX5 {
        width: 25%;
        border: 2px solid white;
        border-radius: 10px;
        transition: border 0.3s ease, box-shadow 0.3s ease;
    }
}

/* Large devices */
@media (min-width: 993px) {
    .conteneurImgX5 {
        width: 15%;
        border: 2px solid white;
        border-radius: 10px;
        transition: border 0.3s ease, box-shadow 0.3s ease;
    }
}

.conteneurImgX5:hover {
    border: 2px solid var(--ColorA);
    box-shadow: 0 0 10px 1px var(--ColorA);
}

.conteneurImgSelected {
    box-shadow: 0 0 10px 5px var(--txtColorPlayerGreen);
}